@import "tailwindcss";

@theme {
  /* Backgrounds */
  --color-bg-primary: #0d1117;
  --color-bg-secondary: #1f2937;
  /* Text */
  --color-text-primary: #111111;
  --color-text-secondary: #ffffff;
  --color-text-muted: #d1d5db;

  /* Accent */

  --color-accent: #8a0000;
  --color-accent-hover: #5c0000;

  /* Borders (Optional) */
  --color-border: #6b7280;

  /* Extras (Optional) */
  --color-warning: #fb923c;
}

html {
  scroll-behavior: smooth;
}
